#Name {font-size: 35px; color: white;}

body{
  background-image: url(https://wallpaperaccess.com/full/869923.gif);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.Pages {font-size: 29px; position:relative;font-family: 'Zen Kurenaido', sans-serif; color: white; margin: 1px;}


/* 
nav{border: groove; padding-bottom: 10px; background-image: linear-gradient(90deg, rgba(126,125,159,0.9079832616640406) 0%, rgba(1,0,68,1) 31%) ;
    background-repeat: no-repeat;background-size: cover;} */

#navbar{
  position: sticky;
  z-index: 5;
  background: rgba(11, 11, 11, 0.71);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(11, 11, 11, 0.39);padding: 5px;}

.texte{margin-top: 10%;text-align: center; color: white;}
#texte1{text-align: center;}

.titleBTS{text-align: center; color: white;}

#textIndex{    
  background: rgba(11, 11, 11, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(11, 11, 11, 0.39);padding: 5px;}


.Titre{position: relative;padding-top: 20px;}

/* Ceci est le css pour le template */
#LoremIntro{    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;}

#Lorem1{    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;margin-top: 10px;}

#Lorem2{    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;margin-top: 10px;}

.TextLorem {color: white;}
/* Fin du css pour le template */

#SISR{    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px; display: none; width: 50%;}

#SLAM{    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px; display: none; width: 50%;}

#CYBER{
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px; display: none; width: 50%;}

#BTS{    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;margin-bottom: 50px;margin-top: 10px;}

.TextBTS {color: white; text-align: center;}
#boutons{text-align: center;}

  
  #ViePro{
    text-align: center;
    margin-bottom: 2%;    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;}

  #Stage1{    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;margin-top: 10px;}

  #Stage2{    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;margin-top: 10px;}

  .TextVie {color: white;}
  
  /* Mise en pratique de flexbox avec un template*/
  
  .container-flex{ display: flex; flex-direction: row;flex-wrap: wrap; justify-content: space-around;}
  .flex-p{flex-basis: 99%;}
  .flex-p2{flex-basis: 48%;}
  /* Mise en pratique de flexbox avec un template*/
  
  .listBTS{text-align: center;}
  
  .textVeille{
    color: white;
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);
  }

  .outilVeille{
    border-left: white 1px solid;
    border-right: white 1px solid;
  }

  .lien-contact{
    text-decoration: none;
    margin-top: 12%;
  }

  #skillList{
    margin-bottom: 2%;    
  }

  #AP1{
    margin-bottom: 2%;    
    background: rgba(11, 11, 11, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;
  }

  .container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    text-align: center;
    margin: 10px;
    display: none; /* Hidden by default */
  }
  
  .Doc{
    background: rgba(11, 11, 11, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;
    color: white;
  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .filter {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }
  
  #synthese{height: 100%;}

  #dropdown{ display:inline;}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  margin-top: 2rem;
  height: 80vh;
  background: rgba(11, 11, 11, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(11, 11, 11, 0.39);;padding: 5px;margin-top: 10px;}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.card-img-top{
  max-height:300px;
}

.veilleImg{
  max-height: 400px;
}

  /* Magic Card */
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  #tbSynthese {
    background: #191c29e0;
    width: 10vw;
    padding: 3px;
    margin: 5px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    font-family: 'Zen Kurenaido';
    color: rgb(88 199 250 / 88%);
    cursor: pointer;
}
  
#tbSynthese:hover {
    color: rgb(0, 119, 255, 224);
    transition: color 1s;
}

#tbSynthese:hover:before,
#tbSynthese:hover:after {
    animation: none;
    opacity: 0;
}
  
#tbSynthese::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #5ddcffe0,
      #3c67e3 43%,
      #4e00c2e0
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}
  
#tbSynthese::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate),
      #5ddcffe0,
      #3c67e3 43%,
      #4e00c2e0
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}
  
@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}

.icone{
  color: rgb(0, 119, 255, 224)
}

/* Magic Card */

.texteLien{
  color: #0d6efd00;
}

.lien-contact:hover #tbSynthese .texteLien{
  color: #0d6efd;
  transition: color 1s;
}

#Context{
  color : white;
  background: rgba(11, 11, 11, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(11, 11, 11, 0.39);
  padding: 5px;
  text-align: center;
  width: 70%;
  margin: 15px;
  margin-top: 5vh;
}

#Flutter{
  color : white;
  background: rgba(11, 11, 11, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(11, 11, 11, 0.39);
  padding: 5px;
  text-align: center;
  margin: 15px;
  margin-top: 5vh;
}

#Appli{
  color : white;
  background: rgba(11, 11, 11, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(11, 11, 11, 0.39);
  padding: 5px;
  padding-left: 15px;
  margin: 15px;
  margin-top: 5vh;
}